* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Login Box */

.mainLogin {
  align-items: center;
  background: #2b3648;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.loginBox {
  color: white;
  background: #212936;
  box-shadow: -12px 2px 17px -5px rgba(7, 7, 7, 0.25);
  height: 87vh;
  margin-top: -50px;
  padding: 80px 40px 40px;
  position: relative;
  text-align: center;
  width: 45%;
}

h2 {
  color: #2196f3;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  letter-spacing: 7.75px;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

/* Form */

.loginForm .formInput {
  position: relative;
}
.loginForm .formInput input {
  color: #fefefe;
  background: #212936;
  border: none;
  border-bottom: 1px solid #fefefe;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 10px;
  outline: none;
  text-transform: uppercase;
  padding: 3px 0;
  width: 90%;
  

}
.loginForm .formInput span{
  position: absolute;
  top: 15px;
  /* right: 20px; */
}



/* Placeholder color */
::placeholder {
  color: white;
  opacity: 1;
  font-family: "Barlow";
  font-style: normal;
}

/* Login Button */

.submitBtn {
  background: #2196f3;
  border: 2px solid #dfdfdf;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 3px 7px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.25rem;
  margin: 20px;
  padding: 12px 50px 12px 50px;
  text-transform: uppercase;
}
.orOptionElements {
  align-items: center;
  color: #ffffff;
  display: inline-flex;
  font-family: "Barlow";
  font-size: 1.5em;
  font-style: normal;
  letter-spacing: 1.75px;
  /* font-size: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
hr {
  border-style: solid none none;
  border-width: 2px;
  color: #ffffff;
  width: 35%;
}

/* Login With Google Button */

.googleLogin {
  margin-top: 20px;
}
.googleBtn {
  align-items: center;
  background: transparent;
  border: 2px solid #000000;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 3px 7px 20px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: flex;
  flex-direction: row;
  font-family: "Barlow";
  font-size: 0.625em;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  left: calc(50% - 140px);
  letter-spacing: 0.25rem;
  margin: 20px;
  margin-top: 3.12em;
  padding: 10px 18px 10px 10px;
  position: relative;
  text-transform: uppercase;
  width: 25em;
  cursor: pointer;
}

.googleIcon {
  float: left;
  width: 45px;
  padding-right: 3px;
}

/* Bottom Tech B Logo Bar */

.techbLogo {
  align-items: center;
  background: #2196f3;
  bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.techbBar {
  margin: 15px;
  margin-left: 20px;
}
.techbLogo img {
  padding: 3px;
  width: 35px;
}

/* Media Query */
@media screen and (max-width: 1009px){
  .loginBox{
    height: 77vh;
    width: 95%;
  }
}
